modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 18748
externalPort = 3000

[nix]
channel = "stable-25_05"
packages = ["freetype", "glibcLocales"]

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BMMcMPzhMmuNaItVLl8_jzoS37-aYJH4RB26YYUIpRhkYLwgsTVaNG2bs6BuLFd_jS8JJqzaQt9s9bG2Cg5msEA"
VAPID_PRIVATE_KEY = "bqq1JV1PwHSgdrV3uHowjuLTKME6s5etidRZzNxfcPU"
VAPID_SUBJECT = "mailto:admin@budger.app"
SUPABASE_ANON_KEY = "sb_publishable_d0gMK-wA2TyQ4sTwwLC7jQ_zgS9frQf"
SUPABASE_BUCKET = "budger-media"
SUPABASE_URL = "https://gdjeukthsbkjmolllmhc.supabase.co"
